<!DOCTYPE html>
<html>
  <head>
    <title>Ribbit</title>
    <link rel="stylesheet/less" href="/style.less" media="all" />
    <script src="/less.js">
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <img src="/gfx/logo.png" alt="logo" />
        <span>Twitter Colne</span>
      </div>
    </header>
    <div id="content">
      <div class="wrapper">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash #{name}" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <footer>
      <div class="wrapper">
        Ribbit -A Twitter Colne made for fun <img src="/gfx/logo.png" alt="logo" />
      </div>
    </footer>
  </body>
</html>
